<div class="all">
  <header class="header">
    <app-header></app-header>
  </header>
  <div class="content d-flex">

    <div class="menu_main">
      <app-side-menu></app-side-menu>
    </div>
    <div class="main_info">

      <router-outlet></router-outlet>

      <div class="d-flex align-items-center disk">
        <p>
          Copyright © 2017 <a href="#">Bootstrap Dash</a>. All rights reserved.
        </p>
        <span>
        Hand-crafted & made with


      </span>
      </div>
    </div>

  </div>


</div>


