<div class="alk">
  <button mat-flat-button color="primary" aria-label="Example icon button with a home icon">

    <mat-icon>home</mat-icon>
  </button>
  <h2>
    Dashboard
  </h2>
</div>
<div class="cardks">
  <div class="row">
    <div class="col-4">
      <div class="cardka cardka_one">
        <div class="d-flex align-items-center justify-content-between">
          <h4>
            Weekly Sales
          </h4>
          <mat-icon>
            trending_up
          </mat-icon>
        </div>
        <h3>
          $ 15,0000
        </h3>
        <p>
          Increased by 60%
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="cardka cardka_two">
        <div class="d-flex align-items-center justify-content-between">
          <h4>
            Weekly Orders
          </h4>
          <mat-icon>
            bookmark_border
          </mat-icon>
        </div>
        <h3>
          49,5057
        </h3>
        <p>
          Decreased by 10%
        </p>
      </div>
    </div>

    <div class="col-4">
      <div class="cardka cardka_three">
        <div class="d-flex align-items-center justify-content-between">
          <h4>
            Visitors Online
          </h4>
          <mat-icon>
            paid
          </mat-icon>
        </div>
        <h3>
          95,5741
        </h3>
        <p>
          Increased by 5%
        </p>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <div class="tipical">
      <app-visit></app-visit>
    </div>
  </div>
  <div class="col-5">
    <div class="tipical">
      <app-traffic></app-traffic>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="tipical">
      <app-project-status></app-project-status>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="tipical">
      <app-updates></app-updates>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="tipical">
      <app-tickets></app-tickets>
    </div>
  </div>
</div>
